$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

$lighter: #ededed;
$light-gray: #777777;
$gray: #444444;
$royal-blue: #0011bb;
$royal-purple: #6600cc;

$font-family: sans-serif;

$content-font-weight: bolder;
$content-font-size: 14px;
